
.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
    /* justify-content: center; */
}
.hero img{
    object-fit: cover;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-top: 100px;
}
.hero h1{
    text-align: center;
    width: 70%;
    font-size: 60px;
    font-weight: 600;
}
.hero h1 span{
    background: linear-gradient(267deg, rgb(242, 67, 96) 0.46%, orange 95.5%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero p{
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}
.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-weight: 500;
    margin-bottom: 50px;
}
.hero-connect{
    padding: 15px 20px;
    border-radius: 50px;
    background: linear-gradient(267deg, rgb(242, 67, 96) 0.46%, orange 95.5%);
    cursor: pointer;
    transition: 1s;
}
.hero-resume{
    padding: 15px 20px ;
    border-radius: 50px;
    border: 2px solid white;
    cursor: pointer;
    transition: 1s;
}
.hero-resume:hover{
    transform: scale(0.8);
}
.hero-connect:hover{
    transform: scale(0.8);
}